spring:
  application:
    name: share-list
  datasource:
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    url: jdbc:postgresql://${DB_ADDRESS}/sharelist
    driver-class-name: org.postgresql.Driver
  flyway:
    url: jdbc:postgresql://${DB_ADDRESS}/sharelist
    user: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
jwt:
  access:
    secret: ${JWT_ACCESS_SECRET}
    expiration: ${JWT_ACCESS_EXPIRATION:900000} #15 min by default
    prefix: Bearer
  refresh:
    secret: ${JWT_REFRESH_SECRET}
    expiration: ${JWT_REFRESH_EXPIRATION:1296000000} #15 days by default
    prefix: Refresh
    scheduling:
      cleanup:
        cron: 0 0 1 * * ? #Every day at 1am